body {
    font-family:"Microsoft YaHei";
    background-color: #4062bf;
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
}

#openMapButton {
    font-family: cursive;
    position: absolute;
    width: 50px;
    margin-left: 30px;
    border-radius: 100px;
    bottom: 200px;
    padding: 100px;
    cursor: pointer;
    border: none;
    color: #2237a3;
    background-color: #b1c5ff;
    
}

#imgDiv{
    position:absolute;
    
    left: 40%;
    margin-left: -450px;

    top: 40%;
    margin-top: -215px;
   
    width: 10px;
    height: 10px;
}

img {
    width: 50%;
    height: 50%;
    object-fit: cover;  
}